.programm {
    margin-top: 105px;
}

.programm__c {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.programm__c-info {
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.programm__c-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}

.programm__c-grid-el {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 25px;
    box-sizing: border-box;
    transition: all .5s;
}

.programm__c-grid-el:hover {
    -webkit-box-shadow: 2px 4px 18px 7px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 4px 18px 7px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 4px 18px 7px rgba(34, 60, 80, 0.2);
}


.programm__c-grid-el a {
    color: var(--col-black);
    text-decoration: none;
}

.programm__c-grid-el:hover a {
    opacity: 1;
}

.programm__c-grid-el-icon {
    width: 70px;
    height: 70px;
    background-color: var(--col-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;




}

.programm__c-grid-el-head {
    margin: 16px 0 32px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24.5px;
    letter-spacing: -0.005em;


}

.programm__c-grid-el-body {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: -0.005em;
    color: var(--col-grey);

}


.programm__c-grid-el_one {
    background-color: rgba(251, 220, 245, 1);

}

.programm__c-grid-el_one:hover {
    background-color: rgb(248, 198, 238);
}

.programm__c-grid-el_two {
    background-color: rgba(222, 236, 247, 1);

}

.programm__c-grid-el_two:hover {
    background-color: rgb(176, 206, 230);
}

.programm__c-grid-el_three {
    background-color: rgba(192, 233, 252, 1);

}

.programm__c-grid-el_three:hover {
    background-color: rgb(172, 224, 248);
}

.programm__c-grid-el_four {
    background-color: rgba(222, 237, 254, 1);

}

.programm__c-grid-el_four:hover {
    background-color: rgb(183, 205, 230);
}

@media screen and (max-width: 800px) {
    .programm__c {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 450px) {
    .programm__c-grid {
        grid-template-columns: 1fr;
    }

    .programm__c-grid-el {
        padding: 15px;
    }

    .programm__c-grid-el a {
        display: grid;
        grid-template-columns: min-content auto;
        gap: 5px 10px;
    }

    .programm__c-grid-el-head {
        margin: 0;
    }

    .programm__c-grid-el-icon {
        grid-row: 1 / span 2;
        width: 50px;
        height: 50px;
    }

    .programm__c-grid-el-body {
        grid-column: 2;
    }
}