/* yellow btn */

.btn-yel {
    background: rgba(255, 229, 164, 1);
    border-radius: 50px;
    color: var(--col-black);
    text-align: center;
    padding: 11px 51px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.005em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s;
  
}

.btn-yel:hover {
    opacity: 1;
    background: rgb(255, 205, 164);
}